.mensage-box {
  background-color: #f6f6f6;
  text-align: right;
  height: 100%;
  width: 75%;
  margin: 0 0 0 0;
  padding:0 0 0 0;
}
.display-mensage{
  height: 80%;
  padding-right: 100px;
}
.display-mensage ul li{
  list-style: none;
  text-decoration: none;
}
#mensage{
  width: 55%;
}
.send-mensage-control {
  padding-right: 20px;
}